<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8e1b2588f2.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="superior">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div id="busqueda">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="busqueda"> <i class="fas fa-search"></i></button>
            </div>

            <p class="textodepaga"><i class="fa-solid fa-hand-holding-dollar"></i>Pagá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul>
                <li><a href="">Ofertás</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-solid fa-id-card"> </i></li>
                <li><a href="/login.html">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <body class="register">
    <main>
        <section>
            <h1>Registrate</h1>
            <form>
                <article>
                <div class="register__form-box">
                    <input class="register__form-input" type="text" id="nombre" name="nombre" placeholder="Nombre y apellido">                    
                </div>

                <div class="register__form-box">
                    <input class="register__form-input" type="text" id="nombre" name="nombre" placeholder="Nombre de usuario">                    
                </div>

                <div class="register__form-box">
                    <input class="register__form-input" type="email" id="email" name="email" placeholder="Email">
                </div>

                
                <div class="register__form-box">
                    <h4>Fecha de nacimiento</h4>
                    <input class="register__form-input" type="date" id="date" name="date" placeholder="Escribí tu contraseña">
                     
                </div>
                <div class="register__form-box">
                        <input class="register__form-input" name="Domicilio" id="Domicilio" placeholder="Domicilio">
                    
                </div>
                <div class="register__form-box">
                    <h4>Perfil del Usuario</h4>
                    <div class="register__radio-box">
                        <input class="" type="radio" name="usuario" id="Comprar" value="c">
                        <label for="Comprar">Comprador</label>
                    </div>
                    <div class="register__radio-box">
                        <input class="" type="radio" name="usuario" id="Vender" value="v">
                        <label for="Vender">Vendedor</label>
                    </div>
                </div>
                <div class="register__check-box">
                    <h4>Categorias de interés</h4>
                    <div class="register__check-box">
                        <input class="" type="checkbox" name="Categorias de interés" id="Electro" value="e">
                        <label for="Electro">Electro</label>
                    </div>
                    <div class="register__check-box">
                        <input class="" type="checkbox" name="Categorias de interés" id="Moda" value="m">
                        <label for="Moda">Moda</label>
                    </div>
                    <div class="register__check-box">
                        <input class="" type="checkbox" name="Categorias de interés" id="Juguetería" value="j">
                        <label for="Juguetería">Juguetería</label>
                    </div>
                    <div class="register__check-box">
                        <input class="" type="checkbox" name="Categorias de interés" id="Vida sana" value="v">
                        <label for="Vida sana">Vida sana</label>
                    </div>
                </div>
            </article>
                <div class="register__form-box">
                    <h4>Foto de Usuario</h4>
                    <label class="texto-foto-contraseña">Seleccionar foto de perfil:</label>
                    <input type="file" name="avatar" accept=".jpg">
                </div>
                <div class="register__form-box">
                    <label class="texto-foto-contraseña" for="password">Contraseña</label>
                    <input class="register__form-input" type="password" id="password" name="password" placeholder="Escribí tu contraseña">
                     
                </div>
                <div class="register__form-box">
                    <label class="texto-foto-contraseña" for="password">Confirmar contraseña</label>
                    <input class="register__form-input" type="password" id="password" name="password" placeholder="Escribí tu contraseña">
                     
                </div>
                <div class="botones">
                <button type="submit" <a href='/home.html'>Registrarme</a></button>
                    <button type="button">Cancelar</button>
                </div>
                </div>
            </form>
        </section>

    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <section class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </section>
    </footer>
</body>

</html>
</body>
</html>