header {
    background-color: var(--Amarillo);
    width: 100%;
    height: 200px;
}

header .superior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

header .burger-menu {
    color: white;
    background-color: var(--Celeste);
    display: block;
    font-size: 1.5rem;
    padding: 8px;
    margin: 0 auto;
    width: 25px;
    border-radius: 8px;
    text-align: center;
}

header nav ul {
    display: none;
}
header .logo{
    width: 50%;
}

header #busqueda{
    width: 50%;
}

@media(min-width:460px) {
    header .textodepaga {
        width: 30%;
    }

    header #busqueda {
        width: 45%;
        display: flex;
        justify-content: center;
    }

    header #busqueda input {
        width: 70%;
    }

    header .logo {
        width: 25%;
    }

    header {
        height: 200px;

    }

    header nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    header .burger-menu {
        display: none;
    }

    header nav ul {
        display: flex;   
        justify-content: space-evenly;
        width: 45%;
    }

}


@media(min-width:768px) {



    header .superior {
        display: flex;
        flex-direction: row;
    }

    header .burger-menu {
        display: none;
    }

}